@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>

<div class="grafiti">
    <p class="pt-5" style="font-size:45px; padding-top:10px;">
        ТВОЈ ЛАПТОП ТВОЈ ДИЗАЈН
    </p>
    <p class="fs-1">Нарачај налепница со твој дизајн и направи си го лаптопот уникатен!</p>
    <p>

    </p>
</div>
<div class="bg-img container">
    <div class="row text-center m-5">
        <h1 class="mt-5 mb-5">Најпопуларни</h1>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/1">
                <img src="https://decal.mk/wp-content/uploads/2020/08/marble10-transparent.png" style="height:130px; width:160px;" />
            </a>
            <p class="fs-4 name">Marble Light</p>
            <p class="fs-4 fw-bold">770ден</p>
        </div>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/2">
                <img src="https://decal.mk/wp-content/uploads/2020/02/18.png" style="height:130px; width:160px;" />
            </a>
            <p class="fs-4 name">Green Leaves</p>
            <p class="fs-4 fw-bold">900ден</p>
        </div>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/3">
                <img src="https://decal.mk/wp-content/uploads/2020/09/color-palette-transparent.png" style="height:130px; width:160px;" />
            </a>
            <p class="fs-4 name">Color palette</p>
            <p class="fs-4 fw-bold">1100ден</p>
        </div>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/4">
                <img src="https://decal.mk/wp-content/uploads/2020/12/batman-transparent.png" style="height:130px; width:160px;" />
            </a>
            <p class="fs-4 name"> The Hero</p>
            <p class="fs-4 fw-bold">1,000ден</p>
        </div>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/5">
                <img src="https://decal.mk/wp-content/uploads/2020/02/20.png" style="height:130px; width:160px;" />
            </a>
            <p class="fs-4 name">Liquid Splash</p>
            <p class="fs-4 fw-bold">950ден</p>
        </div>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/6">
                <img src="https://decal.mk/wp-content/uploads/2020/05/stardust.png" style="height:130px; width:160px;" />
            </a>
            <p class="fs-4 name">Stardust</p>
            <p class="fs-4 fw-bold">800ден</p>
        </div>
    </div>


    <div class="row text-center m-5">
        <h1 class="mt-5 mb-5">Најнови</h1>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/7">
                <img src="https://decal.mk/wp-content/uploads/2020/09/cloudy-night-transparent.png" style="height:130px; width:160px;" />
            </a>
            <p class="fs-4 name"> Cloudy night</p>
            <p class="fs-4 fw-bold">1,100ден</p>
        </div>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/8">
                <img src="https://decal.mk/wp-content/uploads/2020/06/palms-transparent.png" style="height:130px; width:160px;" />
            </a>
            <p class="fs-4 name">Palms</p>
            <p class="fs-4 fw-bold">680ден</p>
        </div>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/9">
                <img src="https://decal.mk/wp-content/uploads/2020/08/marble1-transparent.png" style="height:130px; width:160px;" />
            </a>
            <p class="fs-4 name"> Marble Stone</p>
            <p class="fs-4 fw-bold">800ден</p>
        </div>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/10">
                <img src="https://decal.mk/wp-content/uploads/2020/05/astronaut-template-transparent.png" style="height:130px; width:160px;" />
            </a>
            <p class="fs-4 name"> Cool Astronaut</p>
            <p class="fs-4 fw-bold">1,100ден</p>
        </div>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/11">
                <img src="https://decal.mk/wp-content/uploads/2020/11/sky-marble-transparent.png" style="height:130px; width:160px;" />
            </a>
            <p class="fs-4 name">Sky Marble</p>
            <p class="fs-4 fw-bold">850ден</p>
        </div>
        <div class="col-md-4 mt-5">
            <a href="~/Stickers/Details/12">
                <img src="https://decal.mk/wp-content/uploads/2020/02/brainster3.png" style="height:160px; width:190px;" />
            </a>
            <p class="fs-4 name">Man in space</p>
            <p class="fs-4 fw-bold">1,050ден</p>
        </div>


        <div class="text-center py-5 mt-5 px-5">
            <button class="fs-3"><a style="color:white; text-decoration:none;" class="px-5 py-5 fs-2" href="~/Stickers/Index">Погледни ги сите дизајни!</a></button>
        </div>
    </div>
</div>
<style>
    .bg-img {
        background: url('https://decal.mk/wp-content/uploads/2020/02/decal-bg-lines.svg') no-repeat center;
        background-size: cover;
    }
    .grafiti {
        background: url(../../Images/grafiti.jpg) no-repeat center;
        background-size: cover;
        height: 250px;
        width: auto;
        color: white;
        text-align: center;
        justify-content: center;
        align-content: center;
        font-weight: bold;
        margin-top: 11px;
        opacity: 0.9;
        text-shadow: 0 0 1px #FF0000, 0 0 2px #0000FF;
        box-shadow: 0 15px 15px -12px gray;
    }
    button {
        background-color: #50d38d;
        color:white;
        border:none;
        border-radius:10px;
    }
    .name {
        color: #50d38d;
        font-size:15px;
    }
</style>